<form 
    id="<?=$instance['id']?>" 
    name="<?=$instance['name']?>"
    class="form-horizontal push-5-t"
    action="<?=$instance['action']?>" 
    method="post" >
   
    <div class="form-group">
        <div class="col-sm-12">
            <h5>新增字段</h5>
        </div>
    </div>

    <!-- FROM GROP -->
    <div class="form-group">
        <!--  数据格式 -->
        <div class="col-sm-12">
            <div class="form-material">
                <select class="js-select2 form-control" 
                    id="input-type" 
                    name="type" 
                    style="width: 100%;" data-placeholder="选择数据类型..">
                    <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                    <?php foreach ($public['groups'] as $gname => $options) :?> { 
                    <optgroup label="<?=$gname?>">
                        <?php foreach ($options as $ovalue => $oname): ?>
                        <option value="<?=$ovalue?>" <?=($data['_type']==$ovalue)?'selected':''?> ><?=$oname?></option>
                        <?php endforeach; ?> 
                    </optgroup>
                    <?php endforeach; ?> 
                    
                </select>
                <label for="example2-select2">
                    数据格式
                    <i  class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                        data-original-title="请从下拉列表中类型，不同类型有不同的可配置选项" ></i>
                </label>
            </div>
        </div> <!-- END 数据格式 -->
    </div><!-- END FORM GROUP -->

    
    <!-- INPUT LIST FROM GROUP Start -->
    <div class="form-group">

        <?php 
        $colcnt = 0;
        $instance['action_name'] = (isset($instance['action_name']))? $instance['action_name'] : "";
        $opt['input_width'] = (isset($opt['input_width']))? $opt['input_width'] : 6;
        $opt['input_width'] = ($opt['input_width'] > 12)? 12 : $opt['input_width'];
        $opt['input_width'] = ($opt['input_width'] < 1)? 1 : $opt['input_width'];
        
        $groupcnt = 0;
        foreach ($input as $field => $opt ) : 
            $colcnt = $opt['input_width'] + $colcnt;
            $groupcnt = $opt['input_width'] + $groupcnt;
        ?>
        <?php if( $groupcnt > 12 ) : 
            $groupcnt = $groupcnt  - 12; ?>
    
    </div><!-- END GROUP LINE -->
    <!-- NEW GROUP LINE -->
    <div class="form-group">  
        <?php endif; ?>

        <!-- col Start -->
        <div class="col-lg-<?=$opt['input_width']?> col-sm-<?=$opt['input_width']?> col-xs-12">
            <!-- Form-Material Start -->
            <div class="form-material">
            <?php if( $opt['input_type'] == 'text' ) : ?>
                <input 
                    class="form-control" type="text" 
                    id="input-<?=$field?>" 
                    name="<?=$field?>" 
                    placeholder="<?=$opt['placeholder']?>"
                    value="<?=$opt['default']?>"  >

            <?php elseif ( $opt['input_type'] == 'select' ) : ?>
                <select 
                    class="js-select2 form-control"  style="width: 100%;"
                    id="input-<?=$field?>" 
                    name="<?=$field?>" 
                    data-placeholder="<?=$opt['placeholder']?>" >

                    <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                <?php if (is_array($opt['input_option'])): 
                    foreach ($opt['input_option'] as $option_value => $option_name) : ?>
                    <option 
                        value="<?=$option_value?>"  
                        <?php if($option_value == $opt['default']):?> 
                        selected
                        <?php endif; ?> >
                        <?=$option_name?>
                    </option>
                <?php 
                    endforeach;
                    endif;?>
                </select>

            <?php endif; ?>
                
                <label for="input-<?=$field?>">
                    <?=$opt['screen_name']?>
                    <?php if (isset($opt['input_tips'])): ?>
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                        data-original-title="<?=$opt['input_tips']?>" ></i>
                    <?php endif ?>
                </label>

            </div> <!-- Form-Material END -->
        </div> <!-- col END -->
        <?php endforeach; ?>
        

    </div><!-- INPUT LIST FROM GROUP END -->

    <!-- OPTION LIST  FROM GROUP Start -->
    <div class="form-group">
        <div class="col-sm-12 text-right">
            <div class="form-material">
                <label class="css-input  css-checkbox css-checkbox-info">
                    <input id="required" name="required" value="1" 
                        <?php if($option['required']):?> checked <?php endif; ?> 
                        type="checkbox" ><span></span> 作为必填字段
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                        data-original-title="如果开启这个选项，录入信息时这个字段必须填写" ></i>
                </label>
            </div>
        </div>
   
        <div class="col-sm-12  push-30-t text-right">
            <div class="form-material text-right">
                <label class="css-input  css-checkbox css-checkbox-info">
                    <input id="summary" name="summary"  value="1" 
                        <?php if($option['summary']):?> checked <?php endif; ?> 
                        type="checkbox" ><span></span> 作为摘要数据
                    <i  class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                        data-original-title="开启这个选项，这个字段会出现客户列表中呈现" ></i>
                </label>
            </div>
        </div>

        <div class="col-sm-12  push-30-t">
            <div class="form-material text-right">
                <label class="css-input  css-checkbox css-checkbox-info">
                    <input id="searchable" name="searchable"   value="1" 
                        <?php if($option['searchable']):?> checked <?php endif; ?> 
                        type="checkbox" ><span></span> 作为检索条件
                    <i  class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                        data-original-title="开启这个选项，可以按照这个字段进行检索" ></i>
                </label>
            </div>
        </div>

                <div  class="col-sm-10  push-30-t push-30-l search-option hidden ">
                    <div class="form-material text-right">
                        <label class="css-input  css-checkbox css-checkbox-info">
                            <input id="unique" name="unique"    value="1" 
                                <?php if($option['unique']):?> checked <?php endif; ?> 
                                type="checkbox" ><span></span> 不可重复
                            <i  class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                                data-original-title="开启这个选项，这个字段的数值不能重复" ></i>
                        </label>
                    </div>
                </div>


                <div class="col-sm-10  push-30-t push-30-l  search-option hidden">
                    <div class="form-material text-right">
                        <label class="css-input  css-checkbox css-checkbox-info">
                            <input id="matchable" name="matchable"   value="1" 
                                <?php if($option['matchable']):?> checked <?php endif; ?> 
                                type="checkbox" ><span></span> 模糊匹配
                            <i  class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                                data-original-title="开启这个选项，检索时模糊匹配关键词，不开启时精确匹配关键词。 " ></i>
                        </label>
                    </div>
                </div>

                <div class="col-sm-10  push-30-t push-30-l  search-option hidden">
                    <div class="form-material text-right">
                        <label class="css-input  css-checkbox css-checkbox-info">
                            <input id="fulltext" name="fulltext"   value="1" 
                                <?php if($option['fulltext']):?> checked <?php endif; ?> 
                                type="checkbox" ><span></span> 全文检索
                            <i  class="fa fa-question-circle" data-toggle="tooltip" data-placement="top"  
                                data-original-title="开启这个选项，无需指该字段，也可以搜索到结果。" ></i>
                        </label>
                    </div>
                </div>


    </div><!-- OPTION LIST  FROM GROUP END -->


    <div class="form-group">
        <!-- Hidden Info -->
        <input type="hidden" id="instance-sheet_id"  name="sheet_id"  value="<?=$instance['sheet_id']?>" >
        <input type="hidden" id="instance-column_name"  name="column_name"  value="" >
        <div class="col-sm-12 push-15-t">
            <button class="btn btn-success supertable-submit instance-<?=$instance['id']?>-submit" type="button"> 增加字段 </button>
        </div>
    </div>
</form>

<script type="text/javascript">

jQuery(function() {
    jQuery('.js-select2').select2();
    jQuery('[data-toggle="tooltip"], .js-tooltip').tooltip({
        container: 'form[name="<?=$instance['name']?>"]',
        animation: false
    });

    function switchSearchOption( obj ){
        if ( $(obj).prop('checked') ) {
            $('.search-option').removeClass('hidden');
        } else {
            $('.search-option').addClass('hidden');
        }
    }

    // 检索条件联动
    jQuery('#searchable').change(function(event) {
        switchSearchOption(this);
    });
    switchSearchOption($('#searchable'));


    jQuery('form[name="<?=$instance['name']?>"]').supertable('columnCreate', {
        beforeSubmit: function(form) {
             return true;
        },
        rules: {
        <?php foreach ($input as $field => $opt ) :
            if ( is_array($opt['js.validation']) ): ?>
            '<?=$field?>': $.parseJSON('<?=json_encode($opt['js.validation'])?>'),
        <?php endif;
            endforeach; ?>
        },

        messages: {
        <?php foreach ($input as $field => $opt ) :
            if ( is_array($opt['js.messages']) ): ?>
            '<?=$field?>': $.parseJSON('<?=json_encode($opt['js.messages'])?>'),
        <?php endif;
            endforeach; ?>
        },
    });

});
</script>