<?php if (!$item_only): ?>
<ul 
  id="<?=$instance['id']?>" 
  name="<?=$instance['name']?>" 
  class="block-content 
           block-taglist 
           block-taglist-sortable 
           block-taglist-push-15 
           block-taglist-push-15-t  
           sortable
           supertable-columns-list" 
           style="padding-bottom:20px;padding-top:5px;">
<?php endif; ?>

<?php if ($item_only): ?>
    <?php foreach ($items as $field => $info ) : ?>
    <?php if ( $info['html'] != null ) : echo $info['html']; else : 
          $style = 'info';
          if ( $info['data']['data']['summary'] ) { $style='primary'; }
          if ( $info['data']['data']['required'] ) { $style='danger'; }
        ?>
        <li id="<?=$field?>" name="<?=$field?>">
            <?php if ( $info['data']['data']['searchable'] ) :  ?>
              <span class="tag tag-<?=$style?>"><i class="fa fa-search"></i></span>
            <?php else :?>
              <span class="tag tag-<?=$style?>"><i class="fa fa-database"></i> </span>
            <?php endif; ?>
           
            <a class="tag tag-<?=$style?>" href="#"><?=$info['data']['data']['screen_name']?></a> 

            <?php if ( $info['data']['data']['dropable'] ) :  ?>
            <a class="tag tag-<?=$style?> drop" href="#"><i class="fa fa-close"></i></a> 
            <?php endif; ?> 
        </li>
    <?php
        endif; 
        endforeach; ?>
<?php endif; ?>

<?php if (!$item_only) :?>
</ul>
<script type="text/javascript">
  
  $('[name="<?=$instance['name']?>"]').supertable('container',{
      'instance':$.parseJSON('<?=json_encode($instance)?>')
  });
  $('[name="<?=$instance['name']?>"]').addColumn([], true );
</script>
<?php endif; ?>
