<form 
    id="<?=$instance['id']?>" 
    name="<?=$instance['name']?>"
    class="form-horizontal push-5-t"
    action="<?=$instance['action']?>" 
    method="post" >
    
	<!-- PC呈现 -->
	<div class="form-group hidden-xs">
        <?php 
        $instance['action_name'] = (isset($instance['action_name']))? $instance['action_name'] : "";
        $groupcnt = 0;
        foreach ($items as $field => $info ) : 
        	$opt = $info['data']['data'];

        	// 忽略隐藏字段
        	if ( !in_array($opt['column_name'], $instance['fillter']) && !in_array($opt['screen_name'], $instance['fillter']) ){
        		$opt['width'] = (isset($opt['width']))? intval($opt['width']) : 6;
	            $opt['width'] = ($opt['width'] > 12)? 12 : $opt['width'];
	            $opt['width'] = ($opt['width'] < 1)? 1 : $opt['width'];
	            $groupcnt =$opt['width'] + $groupcnt;
        	}

        ?>

       <?php if( $groupcnt > 12 ) : 
	    	$groupcnt = $opt['width']; 
	   ?>
	</div><!-- END GROUP LINE -->
    <div class="form-group hidden-xs">  <!-- NEW GROUP LINE -->
        <?php endif; ?>
		<?php if ( $info['html'] != null ) : echo $info['html']; else : 
			$data = $info['data']['data'];
			$data['width'] = (isset($data['width'])) ? $data['width'] : 6;
		 ?>
  			<div class="col-lg-<?=$data['width']?> col-md-<?=$data['width']?> col-sm-<?=$data['width']?>" 

  				<?php if ( in_array($data['column_name'], $instance['fillter']) || in_array($data['screen_name'], $instance['fillter']) ): ?>
					hidden
				<?php endif; ?>

  			  >
			    <div class="form-material">
			        <input class="form-control" type="text" 
			               value="<?=$data['default']?>" 
			               id="<?=$data['name']?>" name="<?=$data['name']?>" placeholder="<?=$data['placeholder']?>">
			        <label for="<?=$data['name']?>">12 <?=$data['screen_name']?> <?=$data['column_name']?></label>
			    </div>
			</div>
    	<?PHP endif; ?>
        <?php endforeach; ?>
    </div><!-- INPUT LIST FROM GROUP END -->


	<!-- 手机呈现 -->
    <?php foreach ($items as $field => $info ) : ?>
    	<?php if ( $info['html'] != null ) : ?>
    		<div class="form-group hidden-lg hidden-sm hidden-md">
    			<?=$info['html']?>
    		</div>
    	<?php else : 
			$data = $info['data']['data'];
			$data['width'] = (isset($data['width'])) ? $data['width'] : 6;
		 ?>
    	<div class="form-group hidden-lg hidden-sm hidden-md  
    		<?php if ( in_array($data['column_name'], $instance['fillter']) || in_array($data['screen_name'], $instance['fillter']) ): ?>
					hidden
				<?php endif; ?>
    	">
			<div class="col-xs-12" >
			    <div class="form-material">
			        <input class="form-control" type="text" 
			               value="<?=$data['default']?>" 
			               id="<?=$data['name']?>" name="<?=$data['name']?>" placeholder="<?=$data['placeholder']?>">
			        <label for="<?=$data['name']?>"><?=$data['screen_name']?></label>
			    </div>
			</div>
		</div>	
		<?PHP endif; ?>
	<?php endforeach; ?>

	<!-- 保存按钮  -->
	<div class="form-group  <?php if(!$instance['display_submit'] ):?> hidden <?php endif; ?>">
		<div class="col-xs-12" >
		    <div class="form-material">
		        <button class="btn btn-primary supertable-submit" type="submit" 
		               id="search-submit" name="search-submit">
		         <?php if(isset($instance['submit_name'])):?><?=$instance['submit_name']?><?php else: ?> 保存 <?php endif; ?>
		        </button>
		        <label for=""></label>
		    </div>
		</div>
	</div>

	<input type="hidden"  id="_id" name="_id" value="<?=$_id?>" >
</form>


<script type="text/javascript">
jQuery( function(){
	jQuery('.js-select2').select2();
    jQuery('[data-toggle="tooltip"], .js-tooltip').tooltip({
        container: 'form[name="<?=$instance['name']?>"]',
        animation: false
    });
});
</script>







