<form class="form-horizontal push-10-t" method="post" onsubmit="return false;">
    <div class="form-group">
        <div class="col-lg-<?=$data['width']?>">
            <div class="form-material">
                <input class="form-control" type="text" 
                       value="<?=$_value?>" 
                       id="<?=$data['name']?>" name="<?=$data['name']?>" placeholder="<?=$data['placeholder']?>">
                <label for="<?=$data['name']?>"><?=$data['screen_name']?></label>
            </div>
        </div>
    </div>
</form>