<form class="form-horizontal push-10-t" method="post" onsubmit="return false;">
    <div class="form-group">
        <div class="col-lg-12">
            <div class="form-material">
                <input class="form-control" type="text" 
                	   value="<?=$data['default']?>" 
                	   id="<?=$_instance['name']?>" name="<?=$_instance['name']?>" placeholder="<?=$data['placeholder']?>">
                <label for="<?=$_instance['name']?>"><?=$_instance['screen_name']?></label>
            </div>
        </div>
    </div>
</form>